<p id="notice"><%= notice %></p>

<div class="container product">
  <div class="row">
    <% cache @product do %>
    <div class="col-md-6 col-xs-12">
       <%= image_tag(@product.image_url, class: "img-responsive detail img-zoom", data_zoom_image: "@product.image_url") %>
    </div>
      <div class="col-md-6 col-xs-12">
        <div class="grid-description-detail">
          <div class="description-detail">
              <h3><%= @product.name %></h3>
              <h5><%= @product.price %> &euro;</h5><br>
              <h5><%= @product.colour %></h5>
              <p><%= @product.description %></p>
              <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div></p>
              <p><%= form_tag "/payments/create" do %>
                <%= hidden_field_tag(:product_id, @product.id) %>
                <%= render partial: "shared/stripe_checkout_button" %>
              <% end %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div><!--/ row -->

    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= render 'new_comment', product: @product %>

        <div class="pagination">
          <%= render 'comments', product: @product %>
          <%= will_paginate @comments %>
        </div><!-- /pagination -->
      </div><!-- /col -->
    </div><!--/ row -->

  </div>



  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div><!-- /container -->




