<p id="notice"><%= notice %></p>

<div class="container product">
  <div class="row">
    <div class="col-md-6 col-xs-12">
       <%= image_tag(@product.image_url, class: "img-responsive detail") %>
    </div>
      <div class="col-md-6 col-xs-12">
        <div class="grid-description-detail">
          <div class="description-detail">
              <h3><%= @product.name %></h3>
              <h5><%= @product.price %> Eur</h5><br>
              <h5><%= @product.colour %></h5>
              <p><%= @product.description %></p>
              <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
          </div>
        </div>
      </div>
    </div><!--/ row -->

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <%= render 'new_comment', product: @product %>
        <%= render 'comments', product: @product %>

      </div><!-- /col -->
    </div><!--/ row -->

  </div>



  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div><!-- /container -->




